
<!doctype html>
<!--[if IE]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!--[if lt IE 7 ]><html class="ie ie6" lang="ru"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="ru"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="ru"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="ru">

<head profile="http://gmpg.org/xfn/11">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Печать картин на холсте - Holst.kz</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <meta name='robots' content='index,follow'>
    <meta property="og:title" content="Печать картин на холсте - Holst.kz" />
    <meta property="og:image" content="http://holst.kz/wp-content/themes/kartkz/images/2_corporate/logo.png" />

    <!-- All in One SEO Pack 2.4.2 by Michael Torbert of Semper Fi Web Design[589,613] -->
    <meta name="description" content="Печать на холсте фото и картин, недорого, доставка по городу">

    <meta name="keywords" content="Заказать печать на холсте, Интернет магазин картин, модульные картины,  купить картину Алматы,  печать на холсте, печать фото на холсте,  модульные картины алматы, фотомозаика алматы, заказать фотомозаику, холст на подрамнике">

    <link rel="canonical" href="index.html">
    <!-- /all in one seo pack -->
    <link rel='dns-prefetch' href='//ajax.googleapis.com'>
    <link rel='dns-prefetch' href='//cdnjs.cloudflare.com'>
    <link rel='dns-prefetch' href='//cdn.jsdelivr.net'>
    <link rel='dns-prefetch' href='//s.w.org'>
    <script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.3\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.3\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/holst.kz\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.8.4"}};
			!function(a,b,c){function d(a){var b,c,d,e,f=String.fromCharCode;if(!k||!k.fillText)return!1;switch(k.clearRect(0,0,j.width,j.height),k.textBaseline="top",k.font="600 32px Arial",a){case"flag":return k.fillText(f(55356,56826,55356,56819),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,56826,8203,55356,56819),0,0),c=j.toDataURL(),b!==c&&(k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447),0,0),c=j.toDataURL(),b!==c);case"emoji4":return k.fillText(f(55358,56794,8205,9794,65039),0,0),d=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55358,56794,8203,9794,65039),0,0),e=j.toDataURL(),d!==e}return!1}function e(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i,j=b.createElement("canvas"),k=j.getContext&&j.getContext("2d");for(i=Array("flag","emoji4"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
 
    <link rel='stylesheet' id='slick-css' href='~/Content/slick.css' type='text/css' media='all'>
    <link rel='stylesheet' id='slick-theme-css' href='~/Content/slick-theme.css' type='text/css' media='all'>
    <link rel='stylesheet' id='menu-css' href='~/Content/menu.css' type='text/css' media='all'>
    <link rel='stylesheet' id='flat-ui-slider-css' href='~/Content/flat-ui-slider.css' type='text/css' media='all'>
    <link rel='stylesheet' id='base-css' href='~/Content/base.css' type='text/css' media='all'>
    <link rel='stylesheet' id='skeleton-css' href='~/Content/skeleton.css' type='text/css' media='all'>
    <link rel='stylesheet' id='landings-css' href='~/Content/landings.css' type='text/css' media='all'>
    <link rel='stylesheet' id='main-css' href='~/Content/main.css' type='text/css' media='all'>
    <link rel='stylesheet' id='landings_layouts-css' href='~/Content/landings_layouts.css' type='text/css' media='all'>
    <link rel='stylesheet' id='box-css' href='~/Content/box.css' type='text/css' media='all'>
    <link rel='stylesheet' id='pixicon-css' href='~/Content/pixicon.css' type='text/css' media='all'>
    <link rel='stylesheet' id='modal-contact-form-css' href='~/Content/modal-contact-form.css' type='text/css' media='all'>
    <link rel='stylesheet' id='fonts-css' href='~/Content/fonts.css' type='text/css' media='all'>
    <link rel='stylesheet' id='stylesheet-css' href='~/Content/stylesheet.css' type='text/css' media='all'>
    <link rel='https://api.w.org/' href='wp-json\index.html'>
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://holst.kz/xmlrpc.php?rsd">
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="wp-includes\wlwmanifest.xml">
    <meta name="generator" content="WordPress 4.8.4">
    <link rel='shortlink' href='index.html'>
    <link rel="alternate" type="application/json+oembed" href="wp-json\oembed\1.0\embed-2?url=http%3A%2F%2Fholst.kz%2F">
    <link rel="alternate" type="text/xml+oembed" href="wp-json\oembed\1.0\embed-3?url=http%3A%2F%2Fholst.kz%2F&#038;format=xml">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" />
    
    <script type="text/javascript">
		window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.3\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.3\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/belxperts.000webhostapp.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.8.2"}};
		!function(a,b,c){function d(a){var b,c,d,e,f=String.fromCharCode;if(!k||!k.fillText)return!1;switch(k.clearRect(0,0,j.width,j.height),k.textBaseline="top",k.font="600 32px Arial",a){case"flag":return k.fillText(f(55356,56826,55356,56819),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,56826,8203,55356,56819),0,0),c=j.toDataURL(),b!==c&&(k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447),0,0),c=j.toDataURL(),b!==c);case"emoji4":return k.fillText(f(55358,56794,8205,9794,65039),0,0),d=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55358,56794,8203,9794,65039),0,0),e=j.toDataURL(),d!==e}return!1}function e(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i,j=b.createElement("canvas"),k=j.getContext&&j.getContext("2d");for(i=Array("flag","emoji4"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
    </script>
    <style type="text/css">
        .envelope {
            background-image: url('../../Content/Picture/form-cb-bg.png');
        }
        .advantage li {
            background-image: url('../../Content/Picture/V.png');
            background-repeat: no-repeat;
        }
        .close-baton {
            background-image: url('../../Content/Picture/close.png');
        }
         img.wp-smiley,
         img.emoji {
             display: inline !important;
             border: none !important;
             box-shadow: none !important;
             height: 1em !important;
             width: 1em !important;
             margin: 0 .07em !important;
             vertical-align: -0.1em !important;
             background: none !important;
             padding: 0 !important;
         }
    </style>
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter44123954 = new Ya.Metrika({
                    id:44123954,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/44123954" style="position:absolute; left:-9999px;" alt=""></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-85493404-1"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() { dataLayer.push(arguments) };

        gtag('js', new Date());

        gtag('config', 'UA-85493404-1');
    </script>
    
    
</head>
<body>
    <!-- Part 1: #Header -->
    <div class="pixfort_corporate_2">
        <div class="header_style">
            <div class="container">
                <style>
                    #to-whatsapp_wrapper {
                        position: fixed;
                        width: 100%;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        z-index: 1000;
                    }
                    #to-whatsapp_wrapper a {
                        display: block;
                        background-color: #2cb742;
                        padding: 15px 5px;
                        text-align: center;
                        text-decoration: none;
                        font-family: 'Roboto',sans-serif;
                        font-weight: bold;
                        font-size: 16px;
                        color: #fff;
                    }
                    #to-whatsapp_wrapper i.to-whatsapp-icon {
                        display: inline-block;
                        vertical-align: middle;
                        width: 23px;
                        height: 23px;
                        background: url('../../Content/Picture/whatsapp-logo.svg')no-repeat center left/auto 23px;
                    }
                    #to-whatsapp_wrapper p {
                        display: inline-block;
                        vertical-align: middle;
                        margin: 0;
                        padding: 0;
                        margin: 0 0 0 10px;
                        color: #fff;
                    }
                    .prim-text .black-text {
                        color: #2c2c2c;
                        font-weight: 600;
                    }
                    #ul-id-802-0 { position: relative;z-index: 200; }
                </style>
                <div id="to-whatsapp_wrapper" class="visible-xs">
                    <a target="_blank" href="https://api.whatsapp.com/send?phone=77055559996&amp;text=Здравствуйте, хочу сделать заказ! Узнать расценки и сроки.">
                        <i class="to-whatsapp-icon"></i>
                        <p>Написать в WhatsApp</p>
                    </a>
                </div>
                <div class="sixteen columns header_area">
                    <div class="logotype  three columns offset-by-null">
                        <a href="/"><img src="~/Content/Picture/logo.png" /></a>
                    </div>
                    <div class="slogan offset-by-one  four columns  invis-sm">Широкоформатная печать на холсте с доставкой по всему Казахстану</div>
                    <div class="zvonok offset-by-null  four columns"><span class="consult ">Бесплатная консультация</span><br><span class="phone-number">+7 705 555 99 96</span></div>
                    <div class="three columns">
                        <a class="header_btn"  onclick="document.getElementById('envelope').style.display='block';document.getElementById('fade').style.display='block'"><div class="red-button" style="float:right;">Заказать звонок</div></a>
                    </div>
                    <div id="envelope" class="envelope">
                        <a id="test" class="close-baton" title="Закрыть"  onclick="document.getElementById('envelope').style.display='none';document.getElementById('fade').style.display='none'"></a>
                        <div class="title appetite">Заказать звонок</div>
                        <form  role="form" id="change-personInfo-form" class="validate">
                            <input type="text" id="formNameForm" name="formNameForm" value="Печать на холсте: Заказать звонок" class="your-name" style="display: none">
                            <input type="text" id="formUrl" name="formUrl" value="/" style="display: none">

                            <input type="text" name="name" id="inputName" placeholder="* Ваше имя" value="" class="your-name required" >
                            <!-- <input type="text" name="name" id="inputName" placeholder="Имя"> -->
                            <input type="text" name="tel" id="inputPhone" placeholder="* Ваш телефон" value="" class="email-address tel required" >
                            <input type="text" id="inputEmail" class="line-input" placeholder="Ваш E-mail" name="email" >
                            <input type="button" name="send" value="Заказать звонок"  class="send-message" id="sendEmailbtn">
                            <p style="margin-top: 10px; font-size:14px;">*наш консультант позвонит вам в течении 15 минут</p>
                        </form>
                    </div>
                    <div id="envelope-success" class="envelope-success" style="display: none;">
                        <a class="close-baton" title="Закрыть" href="javascript:void(0)" onclick="document.getElementById('envelope-success').style.display='none';document.getElementById('fade').style.display='none'"></a>
                        <div class="title appetite">Спасибо!</div>
                        <p>Ваша заявка принята</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pixfort_corporate_2">
        <div class="page_style" style="background: url('../../Content/Picture/bg.png') no-repeat center; min-height:750px;background-color: ">
            <div class="container">
               
                <div class="sixteen columns context_style" style="margin-top:130px;">

                    <div class="ten offset-by-four">
                        <div>
                            <br/> <br/> 
                        </div>
                        <div class="prim-text">
                            <span class="effra-med black-text p18 left150 upper">Мы создаем из ваших фотографий</span><br>
                            <span class="appetite red-text p36 left135">Настоящие картины</span><br>
                            <span class="black-text appetite p18 upper1 left90 invis-sm">КРАСИВАЯ <br>КРАСИВАЯ КАРТИНА НА ХОЛСТЕ -</span>
                            <span class="effra-med p20 leftkz black-text invis-sm">идеальное решение для подарка и интерьера</span><p>
                        </div>
                    </div>


                </div>
                <div class="center-text2">

                    <h2>СЭКОНОМЬТЕ 20% БЮДЖЕТА</h2>
                    <p>Получите качественную печать картины на холсте на 20% дешевле,<br>чем в фотостудиях аналогичного уровня</p>

                </div>
            </div><!-- container -->
        </div>
    </div>
    <!-- Part 3: #Features -->


    <div class="pixfort_corporate_2">

        <div class="adv_st">
            <div class="container">
                <div class="sixteen columns">
                    <div class="form-mail">
                        <div id="envelope-success1" class="envelope-success" style="display: none;">
                            <a class="close-baton" title="Закрыть" href="javascript:void(0)" onclick="document.getElementById('envelope-success1').style.display='none';document.getElementById('fade').style.display='none'"></a>
                            <div class="title appetite">Спасибо!</div>
                            <p>Ваша заявка принята</p>
                            <a download="" href="wp-content\uploads\2017\11\прайс.pdf" class="download-price">Получить цены!</a>
                        </div>
                        <form id="sendEmail" action="javascript:void(0)" method="post" autocomplete="on" action="" class="">
                            <input type="text" id="formNameForm2" name="formNameForm" value="Печать на холсте: ПОЛУЧИТЬ ЦЕНЫ" class="your-name" style="display: none">
                            <input type="text" id="formUrl2" name="formUrl" value="/" style="display: none">
                            <input type="text" id="inputName2" class="line-input" placeholder="Ваше Имя" name="name" required="">
                            <input type="text" id="inputPhone2" class="line-input tel" placeholder="Ваш телефон" name="tel" required="">
                            <input type="text" id="inputEmail2" class="line-input" placeholder="Ваш E-mail" name="email" required="">
                        </form>
                    </div>
                    <div class="button-bg"><input onclick="sendEmail2()" onclick="yaCounter44123954.reachGoal (get_prices); return true;" type="submit" name="send" value="ПОЛУЧИТЬ ЦЕНЫ" class="red-button new-center" style="margin-top:30px;"></div>
                 


                </div>
            </div><!-- container -->
        </div>

    </div>


    <!-- Part 4: #Services -->


    <div class="pixfort_corporate_2">
        <!--<div class="sale_choko">
            <div class="container">
                <div class="sixteen columns">
                <div class="sale_head"><a href="https://chocolife.me/38226-kompaniya-holstkz/">Акция! <img src="/wp-content/themes/kartkz/images/chocolife.png"/></a></div>
                </div>
            </div>
        </div>-->
        <div class="amazing_style">
            <div class="container">
                <div class="sixteen columns">


                    <div class="head-line-with-border">
                        Картины, которые могут стать лучшим подарком на любой праздник
                    </div>
                    <div class="clear60"></div>
                    <div class="sliderkz">
                        <div class="per25 appetite">
                            <img src="~/Content/Picture/holst.png" />
                            <p>
                                Фото на холсте
                            </p>
                        </div>
                        <div class="per25 appetite">
                            <img src="~/Content/Picture/kollazh.png" />
                            <p>
                                Фотоколлаж
                            </p>
                        </div>
                        <div class="per25 appetite">
                            <img src="~/Content/Picture/mozika.png" />
                            <p>
                                Фотомозаика
                            </p>
                        </div>
                        <div class="per25 appetite">
                           <img src="~/Content/Picture/poffo.png" />
                            <p>
                                Портрет по<br> фотографии
                            </p>
                        </div>
                    </div>
                    <div class="clear10"></div>
                </div>
            </div><!-- container -->
        </div>
    </div>


    <!-- Part 5: #Clients -->

    <div class="pixfort_corporate_2">

        <div class="adv_style">
            <div class="container">
                <div class="sixteen columns">
                    <div class="L1_style">Заказав у нас вы получите</div>
                    <div class="clear45"></div>
                    <div class="L2_style invis-sm"><img src="~/Content/Picture/123.png" /></div>

                    <div class="five columns just_st alpha " style="display: flex;">
                        <div class="h_style"><img src="~/Content/Picture/time.png" /></div>

                        <div class="cc_style">
                            <div class="title-adv">Срочная печать</div><p>
                                Изготовление 1 день
                            </p>
                        </div>
                    </div>

                    <div class="five columns just_st  " style="display: flex;">
                        <div class="h_style"><img src="~/Content/Picture/pricel.png" /></div>

                        <div class="cc_style">
                            <div class="title-adv">Точная цветовая передача</div><p>
                                Оборудование Epson
                            </p>
                        </div>
                    </div>

                    <div class="five columns just_st omega " style="display: flex;">
                        <div class="h_style"><img src="~/Content/Picture/designer_edit.png" /></div>

                        <div class="cc_style">
                            <div class="title-adv">Обработка фото дизайнером</div><p>
                                Согласование макета с заказчиком
                            </p>
                        </div>
                    </div>

                </div>
            </div><!-- container -->
        </div>

    </div>
    <div class="pixfort_corporate_2">

        <div class="amazing_style1">
            <div class="container">
                <div class="sixteen columns">
                    <div class="gstyle">
                        <div class="t1_style">ПОЧЕМУ СТОИТ ЗАКАЗАТЬ ФОТО НА ХОЛСТЕ У НАС</div>
                        <div class="t2_style">Наши преимущества и отличия от конкурентов</div>
                    </div>
                    <!-- review -->
                    <div class="seven columns alpha fll">
                        <ul class="advantage">
                            <ul>
                                <li>Бесплатная подготовка картин к печати</li>
                                <li>Разные способы оплаты</li>
                                <li>Качественные экологичные материалы</li>
                                <li>Профессиональные дизайнеры</li>
                                <li>Натуральные холсты</li>
                                <li>Большой выбор багета</li>
                            </ul>
                        </ul>
                    </div>

                    <div class="eight columns omega fll">
                        <div class="cd-testimonials-wrapper cd-container" style="padding-bottom: 0;">
                            <ul class="cd-testimonials">
                                <li>
                                    <div style="display: flex">
                                        <div class="cd-author" style="width: 40%; z-index: 1;">
                                            <img width="150" height="150" src="wp-content/uploads/2017/10/user4.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="">
                                        </div>
                                        <div style="width: 60%; ">
                                            <div>
                                                <ul class="cd-author-info">
                                                    <li>Яна 23 года</li>
                                                </ul>
                                                <p>Отличное качество работы. Все в срок, очень приветливые и понимающие сотрудники. Картина вышла именно такой, как мы и хотели. Большое спасибо ребятам, мы всем довольны.</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>


                                <li>
                                    <div style="display: flex">
                                        <div class="cd-author" style="width: 40%; z-index: 1;">
                                            <img width="150" height="150" src="wp-content/uploads/2017/10/user3.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="">
                                        </div>
                                        <div style="width: 60%; ">
                                            <div>
                                                <ul class="cd-author-info">
                                                    <li>Ксения 35 лет</li>
                                                </ul>
                                                <p>Новый отзыв клиента:Получили картину в срок, качественная работа, отдельное спасибо за доставку. Все как обещали! В будущем буду так же заказывать у вас!Спасибо большое!Ксения.</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>


                                <li>
                                    <div style="display: flex">
                                        <div class="cd-author" style="width: 40%; z-index: 1;">
                                            <img width="150" height="150" src="wp-content/uploads/2017/10/avatar-1.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="">
                                        </div>
                                        <div style="width: 60%; ">
                                            <div>
                                                <ul class="cd-author-info">
                                                    <li>Айдос 25 лет</li>
                                                </ul>
                                                <p>Подарок имениннику понравился, он был очень доволен!</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>


                                <li>
                                    <div style="display: flex">
                                        <div class="cd-author" style="width: 40%; z-index: 1;">
                                            <img width="150" height="150" src="wp-content/uploads/2017/10/user7.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="">
                                        </div>
                                        <div style="width: 60%; ">
                                            <div>
                                                <ul class="cd-author-info">
                                                    <li>Акнур 20 лет</li>
                                                </ul>
                                                <p>Спасибо за картины, вышло лучше чем я ожидала!.</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>


                                <li>
                                    <div style="display: flex">
                                        <div class="cd-author" style="width: 40%; z-index: 1;">
                                            <img width="150" height="150" src="wp-content/uploads/2017/10/user4.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="">
                                        </div>
                                        <div style="width: 60%; ">
                                            <div>
                                                <ul class="cd-author-info">
                                                    <li>Перизат 20 лет</li>
                                                </ul>
                                                <p>Мне все очень понравилось, спасибо вам большое!</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>


                                <li>
                                    <div style="display: flex">
                                        <div class="cd-author" style="width: 40%; z-index: 1;">
                                            <img width="150" height="150" src="wp-content/uploads/2017/10/user6.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="">
                                        </div>
                                        <div style="width: 60%; ">
                                            <div>
                                                <ul class="cd-author-info">
                                                    <li>Раушан 23 года</li>
                                                </ul>
                                                <p>Здравствуйте, постер получила, выше всех похвал! Давно мечтала в детскую повесить сказочный домик. Теперь в детской комнате весит это чудо! Спасибо вам большое!</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>


                                <li>
                                    <div style="display: flex">
                                        <div class="cd-author" style="width: 40%; z-index: 1;">
                                            <img width="150" height="150" src="wp-content/uploads/2017/10/user5-1.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="">
                                        </div>
                                        <div style="width: 60%; ">
                                            <div>
                                                <ul class="cd-author-info">
                                                    <li>Александр 27 лет</li>
                                                </ul>
                                                <p>Люблю фотографировать природу, людей машины. Иногда пользуюсь услугой печати на холсте, в подарок кому нибудь. У ребят очень качественная печать. Печатаюсь только у них.</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>


                                <li>
                                    <div style="display: flex">
                                        <div class="cd-author" style="width: 40%; z-index: 1;">
                                            <img width="150" height="150" src="wp-content/uploads/2017/10/user5.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="">
                                        </div>
                                        <div style="width: 60%; ">
                                            <div>
                                                <ul class="cd-author-info">
                                                    <li>Андрей, 32 года</li>
                                                </ul>
                                                <p>Заказывал холст в подарок для жены. Печать приятно удивила, не думал что фотография получится так хорошо на холсте большого размера, Заказ выполнен в срок (даже немного быстрее) Жена счастливая, подумываю теперь еще что нибудь заказать из свадебного альбома =) Всем большое спасибо!!!!!!!!</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>


                                <li>
                                    <div style="display: flex">
                                        <div class="cd-author" style="width: 40%; z-index: 1;">
                                            <img width="150" height="150" src="wp-content/uploads/2017/10/ry1RczaXqQ8-150x150.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="">
                                        </div>
                                        <div style="width: 60%; ">
                                            <div>
                                                <ul class="cd-author-info">
                                                    <li>Ксения, 23 года</li>
                                                </ul>
                                                <p>Все хорошо. Понравилось. Цена - класс. Картина красивая!</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>


                                <li>
                                    <div style="display: flex">
                                        <div class="cd-author" style="width: 40%; z-index: 1;">
                                            <img width="150" height="150" src="wp-content/uploads/2017/10/user2.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="">
                                        </div>
                                        <div style="width: 60%; ">
                                            <div>
                                                <ul class="cd-author-info">
                                                    <li>Алишер, 36 лет</li>
                                                </ul>
                                                <p>Сделали быстро и качественно. Прикольно смотрится на стене семейное фото. Моей семье нравится. Рахмет!</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>


                            </ul> <!-- cd-testimonials -->
                        </div> <!-- cd-testimonials-wrapper -->
                        <div class="add-review appetite">
                            <a class="" href="javascript:void(0)" onclick="document.getElementById('envelope111').style.display='block';document.getElementById('fade').style.display='block'"><div class="" style="float:right;">Добавить отзыв</div></a>
                        </div>


                    </div>
                    <div id="envelope-success111" class="envelope-success" style="display: none;">
                        <a class="close-baton" title="Закрыть" href="javascript:void(0)" onclick="document.getElementById('envelope-success111').style.display='none';document.getElementById('fade').style.display='none'"></a>
                        <div class="title appetite">Спасибо!</div>
                        <p>Ваш отзыв отправлен</p>
                    </div>
                    <div id="envelope111" class="envelope" style="display: none;">
                        <a class="close-baton" title="Закрыть" href="javascript:void(0)" onclick="document.getElementById('envelope111').style.display='none';document.getElementById('fade').style.display='none'"></a>
                        <div class="title appetite">Оставить отзыв</div>
                        <form action="javascript:void(0)" method="post" autocomplete="on" class="">
                            <div class="form-mail">
                                <input type="text" id="formNameForm11" name="formNameForm" value="Отзыв на сайте" class="your-name" style="display: none">
                                <input type="text" id="formUrl11" name="formUrl" value="/" style="display: none">

                                <input type="text" id="inputName11" class="line-input" placeholder="Ваше Имя" name="name" required="">
                                <textarea name="review" id="inputReview11" name="review" placeholder="Ваш отзыв" required=""></textarea>
                            </div>
                            <div class="button-bg">
                                <input onclick="sendEmail11()" type="submit" value="Отправить" class="send-message1">
                                <p style="margin-top: 10px; margin-left: 5px; font-size:14px; text-transform: none;">*наш консультант позвонит вам в течении 15 минут</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- container -->
    </div>
    <!-- Part 7: #Partners -->
    <div class="pixfort_corporate_2">

        <div class="logos_style">
            <div class="container">
                <div class="sixteen columns">
                    <div class="LL1_style">Наши работы</div>
                    <div class="kz">
                        <a data-fancybox="gallery" href="/Content/Picture/pic6-731x1024.jpg" class="lake" href="#" title="" alt="КРАСИВАЯ КАРТИНА НА ХОЛСТЕ"><img src="~/Content/Picture/pic6-731x1024.jpg" /></a>

                        <a data-fancybox="gallery" href="/Content/Picture/pic5-731x1024.jpg" class="lake" href="#" title="" alt="КРАСИВАЯ КАРТИНА НА ХОЛСТЕ"><img src="~/Content/Picture/pic5-731x1024.jpg" /></a>

                        <a data-fancybox="gallery" href="/Content/Picture/pic4-683x1024.jpg" class="lake" href="#" title="" alt="КРАСИВАЯ КАРТИНА НА ХОЛСТЕ"><img src="~/Content/Picture/pic4-683x1024.jpg" /></a>

                        <a data-fancybox="gallery" href="/Content/Picture/pic3-683x1024.jpg" class="lake" href="#" title="" alt="КРАСИВАЯ КАРТИНА НА ХОЛСТЕ"><img src="~/Content/Picture/pic3-683x1024.jpg" /></a>

                        <a data-fancybox="gallery" href="/Content/Picture/pic2-683x1024.jpg" class="lake" href="#" title="" alt="КРАСИВАЯ КАРТИНА НА ХОЛСТЕ"><img src="~/Content/Picture/pic2-683x1024.jpg" /></a>

                        <a data-fancybox="gallery" href="/Content/Picture/pic1-683x1024.jpg" class="lake" href="#" title="" alt="КРАСИВАЯ КАРТИНА НА ХОЛСТЕ"><img src="~/Content/Picture/pic1-683x1024.jpg" /></a>

                    </div>
                    <div id="envelope-success3" class="envelope-success" style="display: none;">
                        <a class="close-baton" title="Закрыть" href="javascript:void(0)" onclick="document.getElementById('envelope-success3').style.display='none';document.getElementById('fade').style.display='none'"></a>
                        <div class="title appetite">Спасибо!</div>
                        <p>Ваша заявка принята</p>
                    </div>
                    <h1 class="appetite like">Понравились картины?</h1>
                    <span class="only-text">Заполните форму и загрузите ваше фото и мы вышлем макет вашей будущей картины уже сегодня</span>
                    <div class="button-bg">

                        <!-- <a href="javascript:void(0)" onclick="document.getElementById('envelope1').style.display='block';document.getElementById('fade').style.display='block'" class="red-button new-center" style="margin-top:30px;">ПОЛУЧИТЬ МАКЕТ СЕГОДНЯ</a> -->
                        <div class="button-bg">
                            <input type="submit" name="send" value="ЗАКАЗАТЬ" onclick="document.getElementById('envelope1').style.display='block';document.getElementById('fade').style.display='block'" class="red-button new-center" style="margin-top:60px;">
                        </div>
                    </div>

                    <div id="envelope1" class="envelope1">
                        <a class="close-baton" title="Закрыть" href="javascript:void(0)" onclick="document.getElementById('envelope1').style.display='none';document.getElementById('fade').style.display='none'"></a>
                        <div class="title appetite">Получить макет сегодня</div>
                        <form action="javascript:void(0)" method="post" autocomplete="on" class="" enctype="multipart/form-data">
                            <div class="form-mail">
                                <input type="text" id="formNameForm4" name="formNameForm" value="Печать на холсте: Получить макет сегодня" class="your-name" style="display: none">
                                <input type="text" id="formUrl4" name="formUrl" value="/" style="display: none">

                                <input type="text" id="inputName4" class="line-input" placeholder="Ваше Имя" name="name" required="">
                                <input type="text" id="inputPhone4" class="line-input tel" placeholder="Ваш телефон" name="tel" required="">
                                <input type="text" id="inputEmail4" class="line-input" placeholder="Ваш E-mail" name="email">
                                <input type="file" name="file" id="file" class="file" accept="image/jpeg,image/png,image/gif" required="">
                            </div>
                            <div class="button-bg">
                                <input onclick="sendEmail4()" type="submit" value="ПОЛУЧИТЬ МАКЕТ" class="send-message1">
                                <p style="margin-top: 10px; margin-left: 5px; font-size:14px; text-transform: none;">*наш консультант позвонит вам в течении 15 минут</p>
                            </div>
                        </form>
                    </div>
                </div>



            </div>
        </div><!-- container -->
    </div>


    <h1 class="question">ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ</h1>


    <div class="answ">
        <div class="answ_head_bg"></div>
        <div class="container">




            <div class="answ_head">Как быстро я смогу получить заказ</div>
            <div class="answ_num">1</div>
            <div class="answ_text">
                <p>Готовую картину вы получаете на следующий день с момента заказа.</p>
            </div>
        </div>
    </div>
    <div class="answ">
        <div class="answ_head_bg"></div>
        <div class="container">




            <div class="answ_head">Какое качество фотографии нужно?</div>
            <div class="answ_num">2</div>
            <div class="answ_text">
                <p>Качество фотографии для больших размеров холстов, желательно с цифрового фотоаппарата, но если нет профессиональных фотографий, то можно сделать размер холста по меньше. Перед печатью наш дизайнер согласовывает с заказчиком заказ и обязательно предупреждает, если качество фотографии не соотвествует размеру холста.</p>
            </div>
        </div>
    </div>
    <div class="answ">
        <div class="answ_head_bg"></div>
        <div class="container">

            <div class="answ_head">Есть ли доставка?</div>
            <div class="answ_num">3</div>
            <div class="answ_text">
                <p>Да, мы доставляем в любую точку Алматы за 2000 тг., так же отправляем почтой холсты в любой крупный город Казахстана.</p>
            </div>
        </div>
    </div>
    <div class="answ">
        <div class="answ_head_bg"></div>
        <div class="container">


            <div class="answ_head">Качественная ли печать?</div>
            <div class="answ_num">4</div>
            <div class="answ_text">
                <p>Качество печати полностью соотвествует качеству фотографии или изображения. Перед печатью вы можете подъехать к нам в цех для того, что бы посмотреть качество печати уже готовых картин.</p>
            </div>
        </div>
    </div>
    <div class="answ">
        <div class="answ_head_bg"></div>
        <div class="container">

            <div class="answ_head">Упаковываете ли вы картины?</div>
            <div class="answ_num">5</div>
            <div class="answ_text">
                <p>Мы упаковываем картины в прозрачную пленку.</p>
            </div>
        </div>
    </div>

    <div class="clear45"></div>






    <!-- Part 8: #Feadback -->


    <div class="pixfort_corporate_2 invis-sm invis-xs">


        <div class="awesome_style">
            <div class="container">
                <div class="sixteen columns">
                    <div id="envelope3" class="envelope">
                        <a class="close-baton" title="Закрыть" href="javascript:void(0)" onclick="document.getElementById('envelope3').style.display='none';document.getElementById('fade').style.display='none'"></a>
                        <div class="title appetite">Заказать звонок</div>
                        <form action="javascript:void(0)" method="post" autocomplete="on" class="">
                            <input type="text" id="formNameForm5" name="formNameForm" value="Печать на холсте: Заказать звонок" class="your-name" style="display: none">
                            <input type="text" id="formUrl5" name="formUrl" value="/" style="display: none">

                            <input type="text" id="inputName5" class="line-input" placeholder="Ваше Имя" name="name" required="">
                            <input type="text" id="inputPhone5" class="line-input tel" placeholder="Ваш телефон" name="tel" required="">
                            <input type="text" id="inputEmail5" class="line-input" placeholder="Ваш E-mail" name="email" required="">

                            <input type="submit" onclick="sendEmail5()" name="send" value="Заказать звонок" class="send-message">
                            <p style="margin-top: 10px; margin-left: 15px; font-size:14px;">*наш консультант позвонит вам в течении 15 минут</p>
                        </form>
                    </div>
                    <div id="envelope-success4" class="envelope-success" style="display: none;">
                        <a class="close-baton" title="Закрыть" href="javascript:void(0)" onclick="document.getElementById('envelope-success4').style.display='none';document.getElementById('fade').style.display='none'"></a>
                        <div class="title appetite">Спасибо!</div>
                        <p>Ваша заявка принята</p>
                    </div>
                    <div class="row" style="display: flex; justify-content: space-around;">
                        <div style="flex-grow: 1;" class="item-circle">
                            <div class="circle">
                                <p class="bold-int">1</p>
                                <p>Вы оставляете заявку и загружаете <br>фото</p>
                            </div>
                        </div>
                        <div style="flex-grow: 1;" class="item-circle">
                            <div class="circle">
                                <p class="bold-int">2</p>
                                <p>С Вами связывается оператор</p>
                            </div>
                        </div>
                        <div style="flex-grow: 1;" class="item-circle">
                            <div class="circle">
                                <p class="bold-int">3</p>
                                <p>Мы согласуем и изготовим <br> картину с <br> вами</p>
                            </div>
                        </div>
                        <div style="flex-grow: 1;" class="item-circle">
                            <div class="circle">
                                <p class="bold-int">4</p>
                                <p>Печать и натяжка холста</p>
                            </div>
                        </div>
                        <div style="flex-grow: 1;" class="item-circle">
                            <div class="circle">
                                <p class="bold-int">5</p>
                                <p>Упаковка <br>картины</p>
                            </div>
                        </div>
                        <div style="flex-grow: 1;" class="item-circle">
                            <div class="circle">
                                <p class="bold-int">6</p>
                                <p>Наслаждайтесь картиной</p>
                            </div>
                        </div>
                    </div>
                    <h1 class="orangeh">Как сделать<br>заказ ?</h1>
                    <a class="callback" href="#scroll-button">
                        <div class="red-button new-center" style="margin-top: 90px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    padding-top: 20px; font-size: 24px; font-weight: 700;padding-bottom: 20px;padding-left: 75px;padding-right: 75px;">ОСТАВИТЬ ЗАЯВКУ</div>
                    </a>

                </div>


            </div>
        </div><!-- container -->
    </div>
    
    

    <!-- Part 9: #Contact -->

    <div class="pixfort_corporate_2" id="contacts">

        <!--<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A1e070e46f642a365910afa39e24c7c75dd38f985e2b75ec4794e77f66ad81b85&amp;lang=ru_RU&amp;scroll=true&amp;source=constructor" width="100%" height="480" frameborder="0"></iframe>-->
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Abf881dc32844eb8f954946ea60df8c1f2174e987743c2ac827e68a7f926c8b6e&amp;lang=ru_RU&amp;scroll=true&amp;source=constructor" width="100%" height="480" frameborder="0"></iframe>
        <div class="content map">

            <p style="text-align: center;">Телефон:</p>
            <p style="text-align: center;"><strong>+7 705 555 99 96</strong>
            <p style="text-align: center; background-color: #ebebeb; border-bottom: 1px solid #e2e2e2; border-top: 1px solid #e2e2e2;">
                Адрес:<br>
                Казахстан, Алматы, улица Сатпаева д.22 б. уг. Сейфулина, 218
            </p>
            <p style="text-align: center;">
                Email:<br>
                <a href="mailto:zakaz@holst.kz">zakaz@holst.kz</a>
            </p>

        </div>

        <div class="sixteen columns last-form-block">
            <div class="container">
                <div id="envelope-success6" class="envelope-success" style="display: none;">
                    <a class="close-baton" title="Закрыть" href="javascript:void(0)" onclick="document.getElementById('envelope-success6').style.display='none';document.getElementById('fade').style.display='none'"></a>
                    <div class="title appetite">Спасибо!</div>
                    <p>Ваша заявка принята</p>
                </div>
                <a name="scroll-button"></a>
                <div id="envelope5" class="envelope">

                    <a class="close-baton" title="Закрыть" href="javascript:void(0)" onclick="document.getElementById('envelope5').style.display='none';document.getElementById('fade').style.display='none'"></a>
                    <div class="title appetite">Заказать звонок</div>
                    <form action="javascript:void(0)" method="post" autocomplete="on" class="">
                        <input type="text" id="formNameForm6" name="formNameForm" value="Печать на холсте: Заказать звонок" class="your-name" style="display: none">
                        <input type="text" id="formUrl6" name="formUrl" value="/" style="display: none">

                        <input type="text" id="inputName6" class="line-input" placeholder="Ваше Имя" name="name" required="">
                        <input type="text" id="inputPhone6" class="line-input tel" placeholder="Ваш телефон" name="tel" required="">
                        <input type="text" id="inputEmail6" class="line-input" placeholder="Ваш E-mail" name="email" required="">
                        <input type="submit" onclick="sendEmail7()" name="send" value="Заказать звонок" class="send-message">
                        <p style="margin-top: 10px; margin-left: 15px; font-size:14px;">*наш консультант позвонит вам в течении 15 минут</p>
                    </form>
                </div>
                <h1 class="pinks appetite">Заполните форму и получите</h1>
                <h2 class="aftpinks appetite" style="text-align:center;">бесплатный макет вашей будущей картины через 3 часа</h2>
                <div class="clear10"></div>
                <div class="sixteen columns">
                    <div id="envelope-success5" class="envelope-success" style="display: none;">
                        <a class="close-baton" title="Закрыть" href="javascript:void(0)" onclick="document.getElementById('envelope-success5').style.display='none';document.getElementById('fade').style.display='none'"></a>
                        <div class="title appetite">Спасибо!</div>
                        <p>Ваша заявка принята</p>
                    </div>
                    <form id="sendEmail6" action="javascript:void(0)" method="post" autocomplete="on" class="">
                        <div class="form-mail">
                            <input type="text" id="formNameForm7" name="formNameForm" value="Печать на холсте: Получить макет сегодня" class="your-name" style="display: none">
                            <input type="text" id="formUrl7" name="formUrl" value="/" style="display: none">

                            <input type="text" id="inputName7" class="line-input" placeholder="Ваше Имя" name="name" required="">
                            <input type="text" id="inputPhone7" class="line-input tel" placeholder="Ваш телефон" name="tel" required="">
                            <input type="text" id="inputEmail7" class="line-input" placeholder="Ваш E-mail" name="email" required="">
                        </div>
                        <div class="button-bg">
                            <input type="submit" onclick="sendEmail6()" value="ПОЛУЧИТЬ МАКЕТ СЕГОДНЯ" class="red-button new-center" id="long" style="margin-top:60px;">
                        </div>
                    </form>
                </div>
            </div>
        </div>




    </div>

    <!-- Part 10: #Footer -->

<div class="pixfort_corporate_2" style="height: 130px">

    <div class="foot_st">
        <div class="container " style="display: flex; align-items: center;">
            <div style="flex-grow: 1;" class="invis-sm invis-md">
                <img src="wp-content\themes\kartkz\images\2_corporate\footer-logo.png">
            </div>
            <div style="flex-grow: 1;" class="invis-sm invis-md">
                <div class="slug">
                    Профессиональная печать<br>
                    фото на холсте с доставкой по <br>
                    всему Казахстану
                </div>
            </div>
            <div style="flex-grow: 1;">
                <div class="social">
                    <span>Мы в соц.сетях:</span>
                    <a href="https://www.facebook.com/groups/993827344079036/">
                        <img src="wp-content\themes\kartkz\images\2_corporate\fb.png">
                    </a>
                    <a href="https://vk.com/sunnyprintkz"><img src="wp-content\themes\kartkz\images\2_corporate\vk.png"></a>
                    <a href="https://www.instagram.com/holst.kz/"><img src="wp-content\themes\kartkz\images\2_corporate\ig.png"></a>
                </div>
            </div>
            <div style="flex-grow: 1;">
                <div class="foot_consult">
                    БЕСПЛАТНАЯ КОНСУЛЬТАЦИЯ<br>
                    <div class="bold">+7 705 555 99 96</div>
                    <a href="javascript:void(0)" onclick="document.getElementById('envelope5').style.display = 'block';document.getElementById('fade').style.display = 'block'">Заказать звонок</a>
                </div>

            </div>
        </div>
    </div>

</div>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
   
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js?ver=4.8.4'></script>
    
    <script type='text/javascript' src='//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.min.js?ver=4.8.4'></script>
    <script type='text/javascript' src='wp-content\themes\kartkz\js-files\jquery.common.min.js?ver=4.8.4'></script>
    <script type='text/javascript' src='wp-content\themes\kartkz\js\jquery.flexslider-min.js?ver=4.8.4'></script>
    <script type='text/javascript' src='wp-content\themes\kartkz\js\main.js?ver=4.8.4'></script>
    <script type='text/javascript' src='wp-content\themes\kartkz\js\jquery.maskedinput.min.js?ver=4.8.4'></script>
    <script type='text/javascript' src='//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.min.js?ver=4.8.4'></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js?ver=4.8.4'></script>
    <script type='text/javascript' src='wp-includes\js\wp-embed.min.js?ver=4.8.4'></script>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>

    <script src="~/Scripts/jquery.inputmask.bundle.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
    <script>
        $('#inputPhone').inputmask({ "mask": "+7(999)999-99-99" });

        $('#sendEmailbtn').click(function () {
            $.blockUI({ message: 'Подождите...', css: {  opacity: '0.8' } });
            var formser = $('#change-personInfo-form').serialize();
            var value = document.getElementById('inputPhone').value;
            value = value.replace('_','');
            var b = value.length;
            if (value.length < 16) {
                $.unblockUI();
                swal({
                    title: "Внимание!",
                    text: 'Некорректно введен номер телефона ',
                    type: "error"
                });
                return;
            }
            $.ajax({
                type: 'POST',
                data: formser,
                url: '@Url.Action("SendEmail", "Home")',
                success: function (resp) {
                    if (resp.Answer) {
                        $.unblockUI();
                        swal({
                            title: "Внимание!",
                            text: resp.Answer,
                            type: "error"
                        });

                    } else {
                        $.unblockUI();
                        swal({
                            title: "Внимание!",
                            text: 'Письмо отправлено',
                            type: "success"
                        });
                        document.getElementById('envelope').style.display = 'none';
                    }
                }
            });
        });
    </script>
</body>

</html>